@mixin flexes($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

// @mixin text($size, $weight, $line, $color) {
//   font-size: $size;
//   font-weight: $weight;
//   line-height: $line;
//   color: $color;
// }

h1 {
  padding-top: 20%;
  @include flexes(center, center)
}

.Our_box {
  margin-top: 50px;
  width: 100%;
  height: auto;
  @include flexes(center, space-between);
  flex-wrap: wrap;
}

.Our_box:nth-child(odd) {
  margin-top: 40px;
}

.our_in_boxes {
  @include flexes(center, center);
  flex-direction: column;
  width: 281.633px;
  padding: 42px 21px;
  gap: 20px;
  border-radius: 185px;
  background: #fff;
  box-shadow: 0px 100px 200px 0px rgba(1, 23, 54, 0.10);
}

.our_back_box {
  @include flexes(center, center);
  padding: 15px;
  border-radius: 50%;
  background-color: #313EF70D;
}

.our_back_box_two {
  @include flexes(center, center);
  padding: 15px;
  border-radius: 50%;
  background-color: #030522;
}

.our_big_text {
  color: #030522;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  /* 36px */
}

.our_small_text {
  color: rgba(3, 5, 34, 0.65);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}