.Header{
    background-color: rgb(1 3 32);
}
.nav{
    position: relative;
    padding: 20px 120px;
    .nav-logo{
        margin-top: -5px;
        position: absolute;
        margin-left:-320px;
    }
}
.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 437px;
    width: 929px;
    margin-top: 22px;

    .nav-items{
        text-decoration: none;
        color: rgb(133, 30, 30);
    }

    .navcolor{
        color: rgba(49, 62, 247, 1);
        text-decoration: none;
        &::after{
            content: '';
            width: 3.3%;
            height:2px;
            background-color: rgba(49, 62, 247, 1);
            display: block;
            position: absolute;
            margin-top: 14px;
            border-radius: 10px;
        }
    }
    .navcolor2{
        color: rgba(49, 62, 247, 1);
        text-decoration: none;
        &::after{
            content: "";
            width: 3.5%;
            height: 2px;
            background-color: rgb(49, 62, 247);
            display: block;
            position: absolute;
            margin-top: 14px;
            border-radius: 10px;
        }
    }
    .navcolor3{
        color: rgba(49, 62, 247, 1);
        text-decoration: none;
        &::after{
            content: '';
            width: 4.5%;
            height:2px;
            background-color: rgba(49, 62, 247, 1);
            display: block;
            position: absolute;
            margin-top: 14px;
            border-radius: 10px;
        }
    }
    .navcolor4{
        color: rgba(49, 62, 247, 1);
        text-decoration: none;
        &::after{
            content: '';
            width: 4.5%;
            height:2px;
            background-color: rgba(49, 62, 247, 1);
            display: block;
            position: absolute;
            margin-top: 14px;
            border-radius: 10px;
        }
    }
    .nav-links{
        text-decoration: none;
        color: white;
    }
    .headerbutton{
        border: 1px solid #fff;
        padding: 10px 40px;
        border-radius: 50px;
    }
}