.book{
    padding: 50px 165px;
    background: #010223;
    height: 905px;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.book h3{
   
  margin-right: 800px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
